footer#rehearse-footer
  .container
    p 
      span.icon
        i.icon-phone
      | 01273 748193  
    p  
      span.icon
        i.icon-mail
      strong  info
      | @smallpondrec.co.uk
    hr
    p.meta-text Small Pond Recordings &copy; 2018 | Terms & Conditions | 
      a(href="http://dopewizard.com" target="_blank") Made by Ben  
