<div id="rehearse-header">
    <nav class="navbar is-fixed-top" id="rehearse-nav">
        <div class="navbar-brand"><a class="navbar-item" href="/index.php"><img src="/media/logo.png" width="112" height="28"/></a>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample"><span></span><span></span><span></span></div>
        </div>
        <div class="navbar-menu" id="navbarExampleTransparentExample">
            <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable"><a class="navbar-link" href="/label.php"><span class="icon is-large"><img src="/media/icons/vin.png" alt=""/></span>Label</a>
                    <div class="navbar-dropdown is-boxed"><a class="navbar-item" href="/label-catalog.php">Catalog</a><a class="navbar-item" href="/label-bands.php">Bands </a></div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable"><a class="navbar-link" href="/label-live.php"><span class="icon is-large"><img src="/media/icons/event.png" alt=""/></span> Live</a>
                    <div class="navbar-dropdown is-boxed"><a class="navbar-item" href="/label-live.php">Upcoming</a><a class="navbar-item" href="/label-bands.php">Buy tickets</a></div>
                </div><a class="navbar-item with-icon is-disabled" href="#"><span class="icon is-large"><img src="/media/icons/shop.png" alt=""/></span> Shop<span class="tag tooltip warning"><span class="icon"><i class="icon-info"></i></span><span class="text">Under maintaince!</span></span></a>
                <span
                    class="navbar-item divider">|</span>
                    <div class="navbar-item has-dropdown is-hoverable"><a class="navbar-link" href="#"> More</a>
                        <div class="navbar-dropdown is-boxed"><a class="navbar-item" href="/label-about.php">About</a><a class="navbar-item" href="/label-contact.php">Contact</a><a class="navbar-divider"></a><a class="navbar-item" href="/rehearse.php">Rehearse</a><a class="navbar-item" href="/record.php">Record </a></div>
                    </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control"><a class="button" target="_blank" href="https://twitter.com/smallpondrec"><span class="icon"><i class="icon-instagram"></i></span></a></p>
                        <p class="control"><a class="button" target="_blank" href="https://twitter.com/smallpondrec"><span class="icon"><i class="icon-twitter"></i></span></a></p>
                        <p class="control"><a class="button" target="_blank" href="https://www.facebook.com/smallpondrecordings/"><span class="icon"><i class="icon-facebook"></i></span></a></p>
                        <p class="control"><a class="button" target="_blank" href="https://twitter.com/smallpondrec"><span class="icon"><i class="icon-youtube">           </i></span></a></p>
                        <p class="control"><a class="button" target="_blank" href="https://twitter.com/smallpondrec"><span class="icon"><i class="icon-spotify"></i></span></a></p>
                        <p class="control"><a class="button" target="_blank" href="https://twitter.com/smallpondrec"><span class="icon"><i class="icon-bandcamp">       </i></span></a></p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="navbar-spacer"></div>