<div id="rehearse-header">
    <nav class="navbar is-fixed-top" id="rehearse-nav">
        <div class="navbar-brand"><a class="navbar-item" href="index.php"><img src="media/logo.png" width="112" height="28"/></a>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample"><span></span><span></span><span></span></div>
        </div>
        <div class="navbar-menu" id="navbarExampleTransparentExample">
            <div class="navbar-start"><a class="navbar-item with-icon is-active" href="rehearse.php"><span class="icon is-large"><img src="media/icons/amp.png" alt=""/></span> Rehearse</a><a class="navbar-item with-icon" href="record.php"><span class="icon is-large"><img src="media/icons/reel.png" alt=""/></span> Record</a>
                <a
                    class="navbar-item with-icon" href="master.php"><span class="icon is-large"><img src="media/icons/mixer.png" alt=""/></span> Mastering<span class="tag tooltip">New!</span></a><span class="navbar-item divider">|</span>
                    <div class="navbar-item has-dropdown is-hoverable"><a class="navbar-link" href="#"> More</a>
                        <div class="navbar-dropdown is-boxed"><a class="navbar-item" href="about.php">About</a><a class="navbar-item" href="contact.php">Contact</a><a class="navbar-divider"></a><a class="navbar-item" href="label.php">Label  </a><a class="navbar-item" href="label-live.php">Live</a></div>
                    </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control"><a class="button" target="_blank" href="https://twitter.com/smallpondrec"><span class="icon"><i class="icon-instagram"></i></span></a></p>
                        <p class="control"><a class="button" target="_blank" href="https://twitter.com/smallpondrec"><span class="icon"><i class="icon-twitter"></i></span></a></p>
                        <p class="control"><a class="button" target="_blank" href="https://www.facebook.com/smallpondrecordings/"><span class="icon"><i class="icon-facebook"></i></span></a></p>
                        <p class="control"><a class="button" target="_blank" href="https://twitter.com/smallpondrec"><span class="icon"><i class="icon-youtube">           </i></span></a></p>
                        <p class="control"><a class="button" target="_blank" href="https://twitter.com/smallpondrec"><span class="icon"><i class="icon-spotify"></i></span></a></p>
                        <p class="control"><a class="button" target="_blank" href="https://twitter.com/smallpondrec"><span class="icon"><i class="icon-bandcamp">        </i></span></a></p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="navbar-spacer"></div>